@import url('https://fonts.googleapis.com/css?family=Courgette');

.reading{
    display:none;
  
}

.open{
 
    display:block;
}

.tarotReading{
    display: flex;
    justify-content: space-around;
    color: purple;
    flex-direction: row;
    

}
.tarotWidget{
    font-family: courgette;
}
.button{
    color: purple;
}
