@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.brand{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
   
}
.navbar-default .navbar-brand {
    color: rgb(19, 98, 100);
}