@import url('https://fonts.googleapis.com/css?family=Courgette');

.AddBody{
    height:1000px;
}

.modal{
     margin-top:100px;
   
}
.button{
    color: purple;
}

.addListing{
    color: purple;
    font-family: Courgette;
}