.appHome{
    height: 1200px;
}
.logo{
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
}
.col1{

    height:200px;
}
.col2{
  
    height: 200px;
}

.menu{
    display:none;
}

.menuopen{
    /* display:none; */
    display:block;
}

/* .open{
    transform: translate(-150px,0px);
    top: 50px;
    height: 50px;
    padding: 0px;
    width: 30px;
    transition: 1s;

}
.drawer{
    transform: translate (0px, 0px);
    background: blue;
    transition: 1s;
    width: 150px;
}

.menuItem{
    color: blue;
    background: yellow;
    width: 150px;
} */