.appHome{
    height: 1200px;
    color: white;
}
.logo{
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
}
.col1{

    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display:none;
}

.button{
    background-color: purple;
    color: purple;

}


.menuopen{
    /* display:none; */
    display:block;
}


 .noShow{
 display:none;
 }
 
 .show{
     display: block;
 }
