.app {
  text-align: center;
  background-image: url("./Assets/afterglow.jpg");
background-size: 100%;
}

.widgets{
  
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.tarotWidget{
  height: 100px;
  /* background-color: red; */
  width: 100px;
}

.nextFullMoon{
  height: 100px;
  background-color: green;
  width: 100px;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}



.App-intro {
  font-size: large;
}
